/* SIN fondos acá: los maneja .bg-carpincho desde global.scss */

ion-item {
  --background: #1e1e1e;
  --color: #fff;
  border-radius: 10px;
  margin: 8px 0;
}

.field {
  display: block;
  margin: 12px 0;
  --background: #1e1e1e;
  --color: #fff;
  --placeholder-color: #aaa;
  --label-color: #bbb;
  --border-radius: 12px;
  --padding-start: 12px;
  --padding-end: 12px;
  --highlight-color-focused: #4c8dff;
  --border-width: 1px;
  --border-style: solid;
  --border-color: rgba(255,255,255,.2);
}

/* (Opcional) header “glass” para ver el logo detrás y mejorar contraste */
ion-header[translucent] {
  --background: rgba(0,0,0,0.2);
  --ion-toolbar-background: rgba(0,0,0,0.2);
  --border-width: 0;
}
ion-title { color: #fff; }
